<head>

</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <dl>
            <dt>Name</dt>
            <dd><input type="text" name="names"></dd>
            <dt>Password</dt>
            <dd><input type="password" name="pswd"></dd>
            <dt>file</dt>
            <dt><input type="file" name="ufile"></dt>
        </dl>
        <button type="submit">SUBMIT</button>
    </form>
</body>